# --- Base de Datos ---
# No subimos la DB porque contiene los datos reales procesados
clean_data.db

# --- Carpetas de Datos ---
# No subimos los CSVs de entrada o salida por privacidad
input/
output/

# --- Python ---
# Archivos temporales que genera Python al ejecutarse
__pycache__/
*.pyc
*.pyo
*.pyd
generador.py

# --- Entornos Virtuales ---
venv/
env/

# --- Otros ---
.DS_Store
.vscode/